.bug,
.bug:is(:hover, :active, :disabled) {
    --x: 0;
    --y: 0;
    --size: 1;
    --rotation: 0deg;

    position: absolute;
    width: 5vw;
    height: 5vw;
    border: none;
    background: url(/bug.svg) no-repeat;
    background-position: 6px 0px;
    transform: translate(var(--x), var(--y)) skew(0deg) rotate(var(--rotation)) scale(var(--size));
    animation: wobble 0.5s infinite alternate ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

@keyframes wobble {
    from {
        transform: translate(var(--x), var(--y)) skew(-5deg) rotate(var(--rotation)) scale(var(--size));
    }

    to {
        transform: translate(var(--x), var(--y)) skew(5deg) rotate(var(--rotation)) scale(var(--size));
    }
}
