.background {
	position: absolute;
		inset: 0;
	margin-left: -3vw;
	margin-top: -3vw;
}

.menu {
	position: absolute;
	right: 25px;
	top: 25px;
	background: url(/pause.svg) no-repeat center;
	width: 2vw;
	height: 2vw;
}

.paused {
	position: absolute;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(3rem);
	font-size: 5rem;
}
