.background {
	position: absolute;
	inset: 0;
	margin-left: -3vw;
	margin-top: -3vw;
}

.menu {
	position: absolute;
	display: flex;
	gap: 12px;
	right: 25px;
	top: 25px;
	height: 2vw;
}

.pause {
	background: url(/pause.svg) no-repeat center;
	width: 2vw;
}

.home {
	background: url(/home.svg) no-repeat center;
	width: 2vw;
}

.paused {
	position: absolute;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(2rem);
	font-size: 5rem;
}

.paused span {
	font-size: 32px;
}

.play {
	position: absolute;
	display: flex;
	gap: 12px;
	right: 25px;
	top: 25px;
	height: 2vw;
	width: 2vw;
	background: url(/play.svg) no-repeat center;
}
