.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	gap: 3rem;
}

.heading {
	font-size: 5rem;
}

.button {
	box-sizing: border-box;
	padding: 1rem;
	width: 100%;
}

.heading+.button {
	font-size: 2rem;
}
