.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	gap: 3rem;
}

.logo {
	/* https://codepen.io/sosuke/pen/Pjoqqp */
	filter: invert(74%) sepia(48%) saturate(5345%) hue-rotate(83deg) brightness(109%) contrast(135%);
}

.heading {
	font-size: 5rem;
}

.button {
	box-sizing: border-box;
	padding: 1rem;
	width: 100%;
}

.heading+.button {
	font-size: 2rem;
}
